<div class="view-details">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form">
          <div class="row">
            <div class="col-11">
              <h3>Search Customer</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="customerID">Customer Username</label></div>
            <div class="col-5">
              <input [(ngModel)]="searchCustomerID" name="searchCustomerID" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="customersearch($event)">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="view-details">

  <div *ngIf="showCustomerDetails" class="view-details">
    <div class="col-md-8 col-md-offset-4 ">
      <div class="container">
        <div class="well well-sm">
          <form class="well form-horizontal" id="contact_form">
            <fieldset>

              <!-- Form Name -->
              <legend align="center" id="label_legend">Customer Details </legend>


              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">Customer Name</label>
                <label class="col-md-4 control-label" id="customerFullName">{{kycData.customerFullName}}</label>
              </div>


              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">Gender</label>
                <label class="col-md-4 control-label" id="gender">{{kycData.gender}}</label>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Date of Birth</label>
                <label class="col-md-4 control-label" id="dob">{{kycData.dob}}</label>

              </div>


              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <label class="col-md-4 control-label" id="address">{{kycData.address}}</label>

              </div>

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">Nationality</label>
                <label class="col-md-4 control-label" id="nationality">{{kycData.nationality}}</label>

              </div>

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">PAN</label>

                <label class="col-md-4 control-label" id="pan">{{kycData.pan}}</label>

              </div>

              <!-- Select Basic -->


              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label">Email</label>

                <label class="col-md-4 control-label" id="email">{{kycData.email}}</label>

              </div>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Contact No</label>
                
                <label class="col-md-4 control-label" id="phone">{{kycData.phone}}</label>

              </div>



              <!-- Text area -->

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Annual Income</label>

                <label class="col-md-4 control-label" id="annualIncome">{{kycData.annualIncome}}</label>

              </div>

            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
