<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form ">
          <div class="row">
            <div class="col-11">
              <h3>View Approved Organisations</h3>
            </div>
          </div>
<div class="panel-body">
  <div class="row" *ngFor="let organisation of approvedOrganisationList; let i = index">
    <div>
      <span>{{organisation}}</span>
      <input (click)="removePermission($event,i)" class="accept btn btn-primary" type="button" value="Remove Permission">
          </div>
  </div>
</div>
        </form>
      </div>
    </div>
  </div>
</div>
