<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form id="donorregister" class="form form-horizontal">
          <div class="row form-group">
            <h3>Customer Registration</h3>
          </div>
          <div class="row form-group">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="customerFullName">Customer Full Name</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="customerFullName" name="customerFullName" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="customerID">Customer ID</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="customerID" name="customerID" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="customerPassword">Password</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="customerPassword" name="customerPassword" type="password" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 text-center">
              <button (click)="customerregister($event)">Register</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
