<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">KYC Chain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a routerLink="/customerhome/addkycdata"> KYC Details </a>
      </li>
      <li class="nav-item ">
        <a routerLink="/customerhome/viewkycrequest"> View Request </a>
      </li>
      <li class="nav-item ">
        <a routerLink="/customerhome/kycapprovedlist"> Approved Organisations</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
