<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form customerlogin">
          <div class="row">
            <div class="col-11">
              <h3>Customer Login</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="customerID">Username</label></div>
            <div class="col-5">
              <input [(ngModel)]="customerID" name="customerID" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="customerPassword">Password</label></div>
            <div class="col-5">
              <input [(ngModel)]="customerPassword" name="customerPassword" type="password" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="customerlogin($event)">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
