<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Organisation Request List</h3>
  </div>
  <div class="panel-body">
<div class="row" *ngFor="let organisation of requestedOrganisationList; let i = index">
      <div>
        <span>{{organisation}}</span>
        <input (click)="acceptRequest($event,i)" class="accept btn btn-primary" type="button" value="Accept">
        <input (click)="rejectRequest($event,i)" class="reject btn btn-caution" type="button" value="Reject">
      </div>
    </div>
  </div>
</div>