<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form id="donorregister" class="form form-horizontal">
          <div class="row form-group">
            <h3>Registration</h3>
          </div>
          <div class="row form-group">
            <div class="col-5 errmsg"> <br />
              <label id="lblName">{{errorMsg}}<br /><br /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="organisation.accountName">Organisation Name</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="organisation.accountName" name="organisation.accountName" type="text" maxlength="60"
                style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="organisation.accountReg">Organisation Registration ID</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="organisation.accountReg" name="organisation.accountReg" type="text" maxlength="60"
                style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="organisation.accountID">User Name</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="organisation.accountID" name="organisation.accountID" type="text" maxlength="60" style="width: 300px;" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="organisation.accountPwd">Password</label>
            </div>
            <div class="col-5">
              <input [(ngModel)]="organisation.accountPwd" name="organisation.accountPwd" type="password" maxlength="60"
                style="width: 300px;" />
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12 text-center">
              <button (click)="organisationregister($event)">Register</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
