<fieldset>
<legend align="center" id="label_legend">View Details of {{currentOrganisation.accountID}}</legend>
  <div class="form-group">
    <label class="col-md-4 control-label" id="label_name"> Name:</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <label class="control-label" id="name">{{currentOrganisation.accountName}}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" id="label_reg_no">Registration No:</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <label class="control-label" id="reg_no">{{currentOrganisation.accountReg}}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">No of KYC checks performed:</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <label class="control-label" id="kyc_no">{{currentOrganisation.kycNo}}</label>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-md-4 control-label" id="label_rating">Rating:</label>
    <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
        <label class="control-label" id="rating">{{currentOrganisation.rating}}</label>
      </div>
    </div>
  </div>

</fieldset>
