<div class="container-fluid">
  <div class="tab-content">
    <h3 align="center"> View Details of {{currentAccount.accountName}}</h3>
  </div>
</div>
<div class="signup">
  <div class="col-md-8 col-md-offset-4 ">
    <div class="container">
      <div class="well well-sm">
        <form class="form donorlogin">
          <div class="row">
            <div class="col-11">
              <h5>Add KYC Details</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-5 errmsg">
              <label id="lblName">{{errorMsg}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-5">
              <label for="customerFullName">Customer Name</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.customerFullName" name="customerFullName" type="text" maxlength="60" style="width: 300px;"
                placeholder="Username" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="gender">Gender </label>
            </div>
            <div class="col-5">
              <select name="gender" [(ngModel)]="kycData.gender" style="width: 300px;">
                <option value="Male"> Male </option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="dob">Date of Birth</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.dob" name="dob" type="text" maxlength="60" style="width: 300px;" placeholder="eg: 18 February 1990" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="address">Address</label>
            </div>
            <div class="col-5">
              <textarea [(ngModel)]="kycData.address" name="address" type="textarea" style="width: 300px; height: 100px;"
                placeholder="Address for Communication">
                </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="nationality">Nationality</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.nationality" name="nationality" type="text" maxlength="60" style="width: 300px;"
                placeholder="eg: Indian" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="pan">PAN</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.pan" name="pan" type="text" maxlength="60" style="width: 300px;" placeholder="eg: AFEBD2019A" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="email">Email</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.email" name="email" type="text" maxlength="60" style="width: 300px;"
                placeholder="eg: abc@xyz.com" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="phone">Contact No</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.phone" name="phone" type="tel" maxlength="60" style="width: 300px;"
                placeholder="eg: 04712320821" />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label for="annualIncome">Annual Income</label></div>
            <div class="col-5">
              <input [(ngModel)]="kycData.annualIncome" name="annualIncome" type="text" maxlength="60" style="width: 300px;"
                placeholder="eg: Rs.5,00,000" />
            </div>
          </div>
          <div class="form-group">
            <p align="center">
              I hereby declare that the details furnished above are true and correct to the best of my knowledge and
              belief.
            </p>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="addKyc($event)">Add Details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
    </div>
